<h1 id="title">All Robots</h1>
  <div id="robot_list">
  <% @robots.each do |robot| %>
    <img alt="personal robot's image" src="https://robohash.org/<%= robot.name %>"/>
    <h3><%= robot.id %>: <a href="/robots/<%= robot.id %>"><%= robot.name %></a></h3>
<!--I'd like to add in city and state here, and maybe age  -->
    <a href="/robots/<%= robot.id %>/edit">Edit</a>


    <form action="/robots/<%= robot.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" name="name" value="Delete Robot">
    </form>

  <% end %>
</div>
